.navbar-container {
    width: 100%;
    padding: 0.625em 3.75rem;
    background-color: #FF7000 !important;
}


.dropdown-menu {
    margin-left: 85% !important;
    width: 10vw;
    position: relative;
}



.button-warningnnew {
    background-color: #FF7000;
    width: 11vw;
    height: 9vh;
    border: none;
    justify-content: flex-end;
}


.name1 {
    color: white !important;
}

.name2 {
    color: #fff !important;
}

.dropdown-toggle::after {
    display: none !important;
}

.dropdown a {
    color: white !important;
}

.dropdown a:hover {
    color: white !important;
}

.dropdown.show a {
    color: white !important;
}

.dropdown .dropdown-menu .dropdown-item {
    color: white !important;
}

.my-profile {
    margin-top: -1.4rem;
    margin-left: 1.3rem;
}

.user-all {
    margin-top: -1.4rem;
    margin-left: 1.3rem;
}

.log-out {
    margin-top: -1.4rem;
    margin-left: 1.3rem;
}

@media (width < 768px) {
    .button-warningnnew {
        margin-left: -40px;
    }

    .my-profile {
        margin-top: -1.4rem;
        margin-left: 1.5rem;
    }

    .user-all {
        margin-top: -1.4rem;
        margin-left: 1.3rem;
    }

    .log-out {
        margin-top: -1.4rem;
        margin-left: 1.5rem;
    }

    .bi-person-fill {
        margin-left: 0.5rem !important;
    }

    .dropdown-menu {
        margin-left: 170px !important;
        width: 10vw;
    }
}
