.set-img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.img-fluid-shadow {
    width: 350px;
    margin-top: 50px;
    height: 250px;
}


.card-name {
    color: #FD841F;
    font-weight: bolder;
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
    margin-left: -70px;
    font-weight: bold;
}

.card-r {
    width: 350px !important;
    height: 300px !important;
}

.btn-created {
    background-color: #FD841F;
    border: none;
    margin-top: 15px !important;
    height: 40px !important;
}

.create-rating {
    border: 1px solid rgba(255, 94, 0, 0.932);
    color: rgba(255, 94, 0, 0.932);
    background-color: #FD841F;
    width: 20%;
    height: 200% !important;
    margin-top: -5px;
}

.create-text {
    color: #fff;
    margin-top: -15px !important;
}

.add-input-s {
    width: 300px !important;
    border: 2px solid #FD841F;
}

*.add-input-t:focus {
    outline: none;
}

.form-labelo {
    margin-left: 0px !important;
}


@media (width < 768px) {
    .btn-create {
        margin-left: -5% !important;
        width: 30%;
    }

    .box-addFoods {
        margin-left: -10% !important;
    }

    .create-rating {
        width: 70px;
        margin-left: 30px !important;
    }

    .add-input-s {
        width: 300px !important;
        border: 2px solid #FD841F;
        margin-left: 30px !important;
    }

    .card-name {
        margin-top: -300px !important;
        margin-left: 10px;
        font-weight: bold;
    }

    .card-r {
        width: 300px !important;
        height: 300px !important;
    }

    .img-fluid-shadow {
        width: 300px;
    }

    .food-card-shadow {
        margin-left: -85px !important;
        width: 355px !important;
    }
}