.set-img {
    border-radius: 20%;
    width: 5vw;
    border: 2px solid #FFC93C;
}

.rating-reviewtext {
    color: #FD841F;
}

.rates {
    margin-left: 1.5rem;
    margin-top: -1.5rem;
}

.add-inputx {
    width: 27vw;
    height: 8vh;
    border: 2px solid #FD841F;
}

.card-titles {
    color: #FD841F;
    margin-left: 4rem;
}

.descnew {
    color: #FD841F;
    margin-left: 0.5rem;
}

.ing-new {
    color: #FD841F;
    margin-left: -9.3rem;
}

.box-container {
    padding: 120px 80px 120px 80px;
    height: 100%;
    background-color: white !important;
}

.button-warning {
    background-color: #FD841F;
    margin-left: 0.2rem;
    width: 10vw !important;
    height: 7vh !important;
    border: none;
}

.button-warning:hover {
    background-color: #FFC93C !important;
}

.food-card {
    margin-left: 10rem !important;
    width: 30vw !important;
    margin-top: 2rem !important;
}

.form-label {
    color: orange;
}

.mt-3 {
    margin-top: 0.5rem !important;
}

.image-rate {
    width: 10vw;
}

.img-fluid {
    height: 40vh !important;
    width: 40vh !important;
}

.create-ratingbutton {
    margin-left: 20rem;
    width: 10vw;
}

.add-inputy {
    border-color: #FD841F;
    height: 10vh;
    width: 26vw;
}

.image-user {
    margin-left: -10rem;
}

.desc1 {
    color: #FD841F;
    margin-left: 0.6rem;
    margin-top: 1rem;
}

.desc2 {
    color: #FD841F;
    margin-left: -9.5rem;
    margin-top: 0.5rem;
}

.rate-star {
    margin-left: -2rem;
}


.btn-warning:hover {
    background-color: #FFC93C !important;
}

.create {
    color: #fff;
    width: 8vw;
    height: 6vh;
    text-align: center;
    display: flex;
    justify-content: center;
}

.create-text {
    color: #fff;
}

.card-new {
    width: 30vw !important;
    height: 41vh !important;
    margin-left: 20rem !important;
}

.card1 {
    width: 70vw;
    height: 0vh !important;
    margin-left: -7rem !important;
    margin-bottom: 10rem !important;
}


.rate {
    margin-top: 5rem !important;
    margin-left: 0.2rem;
}

.username {
    color: #FD841F;
}

.review {
    color: #FD841F;
}

@media (width < 768px) {
    .card-new {
        width: 68vw !important;
        height: 60vh !important;
        margin-left: -4rem !important;
        margin-top: -14rem;
        margin-bottom: 1vw !important;
    }

    .card-titles {
        color: #FD841F;
        margin-left: 10rem;
        margin-top: 1rem;
        font-size: 20px !important;
    }

    .img-fluid {
        width: 250vw !important;
        height: 18vh !important;
        margin-left: 4rem;
    }

    .set-img {
        border-radius: 20%;
        width: 10vw;
        border: 2px solid #FFC93C;
    }

    .rate {
        margin-top: -1.5rem !important;
        margin-left: 16rem !important;
    }

    .create-ratingbutton {
        margin-left: -14rem;
        margin-top: 4rem;
    }

    .image-rate {
        width: 69vw;
    }

    .image-user {
        margin-left: -10rem;
    }

    .food-card {
        margin-left: -3rem !important;
        width: 75vw !important;
        margin-top: 2rem !important;
    }

    .box-container {
        margin-left: -4rem;
        height: auto;
        margin-top: 5rem;
        margin-bottom: 2em !important;
    }

    .create {
        color: #fff;
        width: 30vw;
        height: 6vh;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .modal-content {
        width: 95vw;
        height: 50vh;
        display: flex;
        justify-content: center;
        margin-left: 0.1rem;
    }

    .add-input {
        width: 85vw;
        margin-left: 1rem;
    }

    .form-label {
        margin-left: 1rem;
    }

    .btn-warning {
        margin-left: 10rem !important;
        margin-top: -1rem;
    }

    .button-warning {
        background-color: #FFC93C !important;
        margin-left: 10rem !important;
        width: 40vw !important;
    }

    .button-warning:hover {
        background-color: #FFC93C !important;
    }

    .add-inputy {
        border-color: #FD841F;
        height: 5vh;
        width: 85vw;
        margin-left: 1rem;
    }

    .descnew {
        color: #FD841F;
        margin-left: 5rem;
    }

    .ing-new {
        color: #FD841F;
        margin-left: -5rem;
    }

    .add-inputx {
        width: 75vw;
        height: 8vh;
        border: 2px solid #FD841F;
        margin-left: 6rem !important;
    }

    .rating-reviewtext {
        color: #FD841F;
        margin-left: 5rem;
    }
}