* {
    margin: 0;
    padding: 0;
    font-family: 'Spline Sans', sans-serif;
}

.img-food {
    height: 180px;
    width: 180px;
    object-fit: cover;
}


.food-detail, .list-review, .text-review {
    max-width: 600px;
}

.card-footer .card-footer-text {
    font-size: 13px;
}


@media (max-width: 576px) {
    .img-food {
        height: 350px;
        width: 350px;
        object-fit: cover;
    }
}