* {
  margin: 0;
  padding: 0;
  font-family: 'Spline Sans', sans-serif;
}

.file-upload {
  border-bottom-right-radius: 0%;
  border-top-right-radius: 0%;
}

.btn-upload {
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
  font-size: 12px;
}