.add {
    color: #fff !important;
    font-size: 15px !important;
}

.button-warningnews {
    background-color: #FD841F;
    width: 30% !important;
    height: 8vh !important;
    border: none;
    margin-left: 15px !important;
}

.button-warningnewss {
    background-color: #FD841F;
    width: 30% !important;
    height: 8vh !important;
    border: none;
    margin-left: 10px !important;
}

.button-warningneww {
    background-color: #FD841F;
    width: 10% !important;
    height: 8vh !important;
    border: none;
}

.inputs {
    border-radius: 24px;
    height: 45px;
    width: 350px !important;
    border: 1px solid #FD841F;
    margin-left: -1px !important;
}


@media (width < 768px) {
    .button-warningnews {
        background-color: #FD841F;
        width: 75px !important;
        height: 8vh !important;
        margin-top: 60px !important;
        margin-left: -250px !important;
        border: none;
    }

    .button-warningnewss {
        background-color: #FD841F;
        width: 75px !important;
        border: none;
        margin-top: 60px;
        margin-left: -80px !important;
    }

    .button-warningneww {
        background-color: #FD841F;
        width: 75px !important;
        border: none;
    }

    .inputs {
        border-radius: 24px;
        height: 45px;
        border: 1px solid #FD841F;
        margin-left: -1px !important;
        width: 270px !important;
    }

    .text-submit {
        margin-left: -10px;
    }
}