    .btn-link {
        color: #fff;
        text-decoration: none;
    }

    .btn-link:hover {
        color: #fff !important;
    }

    .add-inputm {
        border: 1px solid #FF7000;
        width: 300px;
        margin-left: -80px !important;
    }

    .add-inputmx {
        border: 1px solid #FF7000;
        margin-left: -80px !important;
        margin-bottom: 15px !important;
    }

    .add-inputmc {
        border: 1px solid #FF7000;
        margin-left: -80px !important;
    }

    .form-labelsr {
        color: #FD841F;
        margin-left: -80px !important;
    }

    .form-labelsm {
        color: #FD841F;
        margin-left: -80px !important;
    }

    .form-labelst {
        color: #FD841F;
        margin-top: -150 !important;
        margin-left: -80px !important;
    }

    .names {
        color: #FD841F;
        margin-left: 10px;
        margin-top: 10px;
    }

    .ingredients {
        color: #FD841F;
        margin-left: 10px;
    }

    /* important */
    .card-image {
        object-fit: cover;
        height: 200px !important;
        max-inline-size: 100%;
        block-size: auto;
        aspect-ratio: 2/1;
    }

    .text-card {
        font-size: 13px;
    }

    /* important */

    .btn-danger {
        margin-bottom: -2px;
        width: 140% !important;
    }

    .btn-secondary {
        margin-top: 0px !important;
        width: 100% !important;
        display: flex;
        justify-content: center;
    }

    .set-rating {
        text-decoration: none;
    }

    .btn-info {
        color: white;
    }

    .btn-info:hover {
        color: white !important;
    }

    .button-warnings {
        background-color: #FD841F;
        border: none;
        color: #fff;
        width: 18px;
        height: 30px;
    }

    .button-food {
        display: flex;
        display: ms-flex;
        display: -webkit-flex;
        margin-left: 10px;
    }

    .btn-warning {
        margin-left: -50px;
    }


    @media (width < 768px) {

        /* btn-allfood */
        .btn-create {
            border: none;
            margin-top: 5%;
        }

        .btn-secondary {
            margin-top: 0px !important;
            width: 100% !important;
            display: flex;
            justify-content: center;
        }

        .img {
            width: 100% !important;
        }

        .modal-content {
            width: 400px !important;
            margin-left: auto;
        }

        .add-inputm {
            width: 300px;
            margin-left: 40px !important;
        }


        .add-inputmc {
            margin-left: 30px !important;
            width: 150px !important;
        }

        .form-labelsr {
            margin-left: 40px !important;
        }

        .form-labelst {
            margin-left: 30px !important;
        }

        .form-labelsm {
            margin-left: 40px !important;
        }

        .input-field {
            margin-left: 60px !important;
        }

        .button-warnings {
            margin-left: 50px !important;
        }

        .btn-warning {
            margin-left: -50px;
            width: 65px;
        }
    }