    /* btn-allfood */
    .btn-dark {
        border: none;
        margin-top: 1%;
        height: 50px !important;
    }

    .btn-create {
        border: none;
        margin-top: 1%;
        width: 8%;
        height: 40px;
    }

    .add-inputm {
        border: 1px solid #FF7000;
        width: 300px;
    }

    .add-inputmx {
        border: 1px solid #FF7000;
    }

    .form-label{
        color: #FD841F;
    }
    
    .names {
        color: #FD841F;
        margin-left: 10px;
        margin-top: 10px;
    }

    .ingredients {
        color: #FD841F;
        margin-left: 10px;
    }

    .img {
        max-inline-size: 100%;
        block-size: auto;
        aspect-ratio: 2/1;
    }


    .btn-danger {
        margin-bottom: -2px;
        width: 140% !important;
    }

    .btn-secondary {
        margin-top: 0px !important;
        width: 100% !important;
        display: flex;
        justify-content: center;
    }

    .set-rating {
        text-decoration: none;
    }

    .btn-info {
        color: white;
    }

    .btn-info:hover {
        color: white !important;
    }

    .button-warnings {
        background-color: #FD841F;
        border: none;
        color: #fff;
        width: 6vw;
        height: 8vh;
    }

    .button-food {
        display: flex;
        display: ms-flex;
        display: -webkit-flex;
        margin-left: 10px;
    }


    @media (width < 768px) {

        /* btn-allfood */
        .btn-create {
            border: none;
            margin-top: 5%;
        }

        .btn-secondary {
            margin-top: 0px !important;
            width: 100% !important;
            display: flex;
            justify-content: center;
        }

        .img {
            width: 100% !important;
        }
    }