.box-all-user {
    padding-top: 100px;
}


.title-user {
    color: #FF6E31;
    margin-left: 40rem !important;
    font-weight: bolder;
    font-size: 30px;
    margin-bottom: 5rem;
}

.card-e {
    border: 1px solid #FD841F;
    margin-top: -1rem;
    margin-bottom: 5rem;
}

.user-id {
    color: #FD841F;
    margin-bottom: 1rem;
}

.user-name {
    color: #FD841F;
    margin-left: 5rem;
    text-decoration: underline;
    font-size: larger;
}

.user-email {
    color: #FD841F;
    margin-left: 2rem;
    margin-top: 1rem;
}

.button-success {
    background-color: #285430;
    margin-left: 2rem;
    margin-top: 1rem;
    width: 4vw !important;
    height: 6vh !important;
    border: none;
}

.button-success:hover {
    background-color: #285430 !important;
}

.update-button {
    color: #fff;
}