.input-upload {
  margin-left: 50px !important;
}

.button-upload {
  background-color: #FD841F;
  color: #fff;
  border: 1px solid rgba(255, 94, 0, 0.932);
  margin-left: 280px !important;
  width: 55px !important;
  height: 30px !important;
  margin-top: -55px !important;
}

@media (width < 768px) {
  .input-upload {
    margin-left: 70px !important;
  }

  .button-upload {
    margin-left: 305px !important;
    height: 30px !important;
    margin-top: -55px !important;
  }
}