* {
    margin: 0;
    padding: 0;
    font-family: 'Spline Sans', sans-serif;
}

.social-icon span i {
    height: 20px;
    width: 20px;
    border: 1px solid rgba(255, 255, 255, 0.5);
}


@media (max-width: 767px) {
    .form-controlf{
        width: 153px !important;
        margin-left: -21px !important;
    }
}