/* home-section */

.btn-detail {
    display: inline-block;
    padding: 0.4rem 1rem;
    border: 1px solid rgba(255, 94, 0, 0.932);
    color: #fff;
    cursor: pointer;
    font-size: 0.75rem;
    border-radius: .5rem;
    position: relative;
    text-decoration: none;
    background-color: #FD841F;
}

.btn-detail::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background: rgba(255, 94, 0, 0.932);
    z-index: -1;
}

.btn-detail:hover::before {
    width: 100%;
    left: 0;
}

.btn-detail:hover {
    color: #fff;
}

.image-card {
    max-height: 200px;
    min-height: 200px;
    object-fit: contain;
    overflow: hidden;
}

.image-card img {
    min-height: 200px;
}

.containers {
    background-color: #fff;
    border-radius: 20px;
    padding: 100px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 50vw;
    margin-left: 270px !important;
    box-shadow: rgba (50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}


@media (max-width: 767px) {
    .containers {
        flex-direction: column;
        margin-left: 70px !important;
        height: 400px;
    }
}