* {
  margin: 0;
  padding: 0;
  font-family: 'Spline Sans', sans-serif;
}

.profile-detail {
  max-width: 550px;
}

.img-profile-page {
  height: 145px;
  width: 145px;
  border-radius: 50%;
  border: 2px solid #FD841F;
  object-fit: cover;
}

.form-labele {
  margin-left: -100px !important;
}

.form-controll {
  display: block;
  width: 250%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-left: -100px !important;
}

.titler {
  color: #FD841F;
}

@media (width < 768px) {
  .titler {
    margin-left: -200px !important;
  }

  .form-labele {
    margin-left: -70px !important;
  }

  .form-controll {
    margin-left: -70px !important;
    width: 170%;
  }

  .img-profile-page {
    margin-left: -55px;
  }

}