.box-containerr {
  background-color: #fff !important;
  width: 10vw;
  height: auto !important;
}

.carddd {
  width: 40vw !important;
  height: 300% !important;
  background-color: #FFD4B2;
  margin-top: 50px !important;
  margin-bottom: 100px !important;
  margin-left: 500px !important;
}

.img-fluidr {
  width: 15vw !important;
}

.card-titler {
  color: #fff;
  font-size: 25px !important;
  margin-left: 100px !important;
}

.emaile {
  color: #fff;
  font-size: 15px !important;
  margin-left: 70px !important;
}

.roless {
  color: #fff;
  font-size: 15px !important;
  margin-left: 70px !important;
  margin-top: 5px !important;
}

.phone-number {
  color: #fff;
  font-size: 15px !important;
  margin-left: 70px !important;
  margin-top: 5px !important;
}

.btn-success {
  width: 5vw;
}

.add-input-t {
  width: 25vw !important;
  border: 2px solid #FD841F;
}

*.add-input-t:focus {
  outline: none;
}

.edit-profiletext {
  color: #FD841F;
  font-size: 30px !important;
}

.btn-primary {
  width: 15% !important;
  margin-left: 70px !important;
}

@media (width < 768px) {
  .box-containerr {
    background-color: #fff !important;
    width: 10vw;
    height: auto !important;
  }

  .carddd {
    width: 80vw !important;
    height: auto;

  }
}